@charset "UTF-8";
@font-face {
  font-family: 'MyriadProBold';
  src: url("../fonts/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold.eot") format("embedded-opentype"), url("../fonts/MyriadProBold.woff2") format("woff2"), url("../fonts/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold.ttf") format("truetype"), url("../fonts/MyriadProBold.svg#MyriadProBold") format("svg"); }

@font-face {
  font-family: 'MyriadProIt';
  src: url("../fonts/MyriadProIt.eot");
  src: url("../fonts/MyriadProIt.eot") format("embedded-opentype"), url("../fonts/MyriadProIt.woff2") format("woff2"), url("../fonts/MyriadProIt.woff") format("woff"), url("../fonts/MyriadProIt.ttf") format("truetype"), url("../fonts/MyriadProIt.svg#MyriadProIt") format("svg"); }

@font-face {
  font-family: 'MyriadProRegular';
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot") format("embedded-opentype"), url("../fonts/MyriadProRegular.woff2") format("woff2"), url("../fonts/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular.ttf") format("truetype"), url("../fonts/MyriadProRegular.svg#MyriadProRegular") format("svg"); }

@font-face {
  font-family: 'MyriadProSemibold';
  src: url("../fonts/MyriadProSemibold.eot");
  src: url("../fonts/MyriadProSemibold.eot") format("embedded-opentype"), url("../fonts/MyriadProSemibold.woff2") format("woff2"), url("../fonts/MyriadProSemibold.woff") format("woff"), url("../fonts/MyriadProSemibold.ttf") format("truetype"), url("../fonts/MyriadProSemibold.svg#MyriadProSemibold") format("svg"); }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
.home-page {
  width: 100vw;
  height: 100vh;
  background: url("../img/main-page_bg.jpg") center/cover no-repeat; }
  .home-page__wrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .home-page__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 60px;
    width: 100%;
    height: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .home-page__header_title {
      font-family: "MyriadProBold";
      color: #fff;
      letter-spacing: -10px;
      font-size: 202.14px; }
      .home-page__header_title span {
        color: #ffc600; }
    .home-page__header_subtitle {
      font-size: 18px;
      font-family: "MyriadProRegular";
      color: #fff;
      max-width: 390px;
      line-height: 1.2;
      margin-bottom: 25px; }
      .home-page__header_subtitle span {
        color: #ffc600; }
    .home-page__header_download {
      color: #ffc600;
      font-size: 18px;
      font-family: "MyriadProRegular"; }
      .home-page__header_download:after {
        content: '\25bc';
        margin-left: 5px;
        font-size: 20px;
        opacity: 0; }
      .home-page__header_download:hover:after {
        -webkit-animation: download_arrow ease-in-out 1s infinite alternate;
                animation: download_arrow ease-in-out 1s infinite alternate; }

@-webkit-keyframes download_arrow {
  50% {
    opacity: 1; } }

@keyframes download_arrow {
  50% {
    opacity: 1; } }
  .home-page__content {
    width: 100%;
    height: 60%;
    padding-top: 70px;
    padding-left: 40px;
    background: url("../img/main-page_bg2.jpg") center 0%/cover no-repeat; }
    .home-page__content_title {
      font-size: 60px;
      letter-spacing: -3px;
      font-family: "MyriadProBold";
      color: #fff;
      margin-bottom: 60px; }
      .home-page__content_title span {
        color: #ffc600; }
    .home-page__content_menu {
      font-size: 18px;
      font-family: "MyriadProRegular";
      max-width: 360px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .home-page__content_menu a {
        color: #ffc600;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        position: relative; }
        .home-page__content_menu a:hover {
          color: #fff; }
          .home-page__content_menu a:hover:after {
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1); }
        .home-page__content_menu a:after {
          content: '';
          -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
          width: 100%;
          height: 1px;
          background-color: #ffc600;
          position: absolute;
          bottom: -10px;
          left: 0;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }

.about-page {
  width: 100vw;
  background-color: #151515; }
  .about-page__wrapper {
    max-width: 1200px;
    max-height: 520px;
    margin: 0 auto;
    background-color: #fff; }
  .about-page__description {
    min-height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .about-page__description_title {
      width: 50%;
      font-size: 80px;
      padding: 70px 0 0 135px;
      font-family: "MyriadProSemibold"; }
      .about-page__description_title div:first-child {
        color: #717171;
        font-size: 24px;
        height: 45px; }
        .about-page__description_title div:first-child span {
          font-size: 60px; }
      .about-page__description_title div:last-child span {
        color: #ffc600; }
    .about-page__description_arcticle {
      width: 50%;
      padding: 35px 0 0 20px;
      position: relative;
      font-size: 14px;
      color: #595959;
      line-height: 1.2; }
      .about-page__description_arcticle:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10%;
        width: 1px;
        height: 80%;
        background-color: #c5c5c5; }
      .about-page__description_arcticle p:first-child {
        font-family: "MyriadProIt";
        font-size: 16px;
        color: #000;
        margin-bottom: 25px; }
  .about-page__categories {
    padding: 60px 165px 0px 150px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .about-page__categories_type {
      max-width: 240px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 58px; }
      .about-page__categories_type .logo {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        border: 2px solid #ffa800;
        background: #e8e8e8 url("../img/about_gamepad.png") center center no-repeat;
        margin-bottom: 24px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .about-page__categories_type .logo:hover {
          -webkit-animation: shake 0.3s linear infinite;
                  animation: shake 0.3s linear infinite; }

@-webkit-keyframes shake {
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes shake {
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }
      .about-page__categories_type .title {
        font-size: 18px;
        font-family: "MyriadProRegular";
        margin-bottom: 24px; }
      .about-page__categories_type .decription {
        font-family: "MyriadProIt";
        font-size: 10px;
        color: #242424;
        text-align: center;
        width: 90%; }
        .about-page__categories_type .decription div {
          margin-bottom: 10px; }

.works-page {
  width: 100vw;
  background-color: #151515; }
  .works-page .page-titles {
    padding-left: 78px; }
    .works-page .page-titles:after {
      left: 178px; }
  .works-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 50px; }
  .works-page__filter-menu {
    max-width: 378px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 78px;
    font-family: "MyriadProSemibold";
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    margin-bottom: 25px; }
    .works-page__filter-menu div {
      position: relative; }
      .works-page__filter-menu div:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #ffc600;
        -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
      .works-page__filter-menu div:hover:after {
        -webkit-transform: scaleX(0.6);
            -ms-transform: scaleX(0.6);
                transform: scaleX(0.6); }
  .works-page__works {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .works-page__works_work {
      max-width: 24.8%;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s; }
      .works-page__works_work img {
        width: 100%;
        margin-bottom: 2px; }
      .works-page__works_work:hover {
        -webkit-transform: translate(-2px, -2px);
            -ms-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
        -webkit-box-shadow: 5px 5px 20px #cacaca;
                box-shadow: 5px 5px 20px #cacaca; }

.popup-fade {
  display: none; }

.popup-fade:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 9999; }

.popup-window {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  z-index: 99999;
  opacity: 1; }

.popup-close:after {
  content: '\274C';
  position: absolute;
  font-size: 16px;
  color: #000;
  top: 10px;
  right: 10px;
  cursor: pointer;
  text-shadow: 1px 0px 13px white; }

.page-titles {
  font-family: "MyriadProSemibold";
  font-size: 30px;
  position: relative;
  margin-bottom: 20px; }
  .page-titles:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 1px;
    width: 140px;
    background-color: #c5c5c5; }
  .page-titles span:first-child {
    color: #ffc600;
    font-size: 50px; }
  .page-titles span:last-child {
    font-size: 50px; }

.strategic-page {
  width: 100vw;
  background-color: #161616; }
  .strategic-page_subtitle {
    font-family: "MyriadProIt";
    font-size: 16px;
    margin-bottom: 20px; }
  .strategic-page_article {
    font-family: "MyriadProRegular";
    font-size: 14px;
    color: #595959;
    line-height: 1.2;
    margin-bottom: 45px; }
  .strategic-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 65px 60px 60px 75px; }
  .strategic-page__content {
    max-width: 860px;
    margin: 0 auto; }
    .strategic-page__content__block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .strategic-page__content__block:nth-child(2) div:first-child {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; }
    .strategic-page__content__block_image {
      width: 50%; }
      .strategic-page__content__block_image img {
        width: 100%; }
    .strategic-page__content__block__description {
      width: 50%;
      padding: 25px 30px 0;
      line-height: 1.2; }
    .strategic-page__content__block__description_title {
      font-family: "MyriadProSemibold";
      font-size: 30px;
      margin-bottom: 35px; }
      .strategic-page__content__block__description_title span {
        font-size: 50px; }
    .strategic-page__content__block__description_subtitle {
      font-family: "MyriadProIt";
      font-size: 16px;
      margin-bottom: 20px; }
    .strategic-page__content__block__description_article {
      font-size: 14px;
      font-family: "MyriadProRegular";
      color: #595959; }

.services-page {
  width: 100vw;
  background-color: #151515; }
  .services-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 40px 0 55px 50px;
    background: url("../img/game-dev_services-bg.jpg") 50%/cover no-repeat; }
  .services-page__content {
    padding: 40px 180px 0 470px;
    min-height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between; }
    .services-page__content__category {
      max-width: 225px;
      line-height: 1.2;
      font-family: "MyriadProRegular"; }
    .services-page__content__category_title {
      font-size: 18px;
      margin-bottom: 20px; }
    .services-page__content__category_article {
      font-size: 11px; }

.team-page {
  width: 100vw;
  background-color: #151515; }
  .team-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 85px 70px 150px 50px; }
  .team-page__title {
    width: 25%;
    height: 50px; }
    .team-page__title:after {
      left: 75px;
      width: 70px; }
  .team-page__content {
    line-height: 1.2; }
    .team-page__content_title {
      font-family: "MyriadProIt";
      font-size: 16px;
      margin-bottom: 25px;
      width: 75%; }
    .team-page__content_subtitle {
      font-family: "MyriadProRegular";
      font-size: 14px;
      color: #595959;
      margin-bottom: 35px;
      width: 75%; }
    .team-page__content__team {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .team-page__content__team__person {
      width: 23%;
      font-size: 16px;
      text-align: center; }
    .team-page__content__team__person_photo img {
      width: 100%; }
    .team-page__content__team__person_name {
      font-family: "MyriadProSemibold";
      padding-top: 15px;
      padding-bottom: 5px; }
    .team-page__content__team__person_post {
      font-family: "MyriadProIt"; }

.testimonials-page {
  width: 100vw;
  background-color: #151515; }
  .testimonials-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 50px 70px 150px 50px; }
  .testimonials-page__title:after {
    width: 100px;
    left: 75px; }
  .testimonials-page__content {
    display: none; }
    .testimonials-page__content.active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .testimonials-page__content__articles {
      padding-top: 70px;
      padding-right: 75px;
      padding-left: 45px;
      line-height: 1.2;
      max-width: 75%; }
      .testimonials-page__content__articles_main {
        font-family: "MyriadProIt";
        font-size: 16px;
        margin-bottom: 20px; }
      .testimonials-page__content__articles_subarticle {
        font-family: "MyriadProRegular";
        font-size: 14px; }
    .testimonials-page__content__person {
      font-size: 16px;
      text-align: center; }
      .testimonials-page__content__person_photo {
        border-radius: 50%;
        width: 128px;
        overflow: hidden;
        border: 3px solid #ffa800;
        margin-bottom: 20px; }
        .testimonials-page__content__person_photo img {
          width: 100%; }
      .testimonials-page__content__person_name {
        font-family: "MyriadProSemibold";
        margin-bottom: 5px; }
      .testimonials-page__content__person_post {
        font-family: "MyriadProIt"; }
  .testimonials-page .slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .testimonials-page .slider-wrapper__dots {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 100px;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .testimonials-page .slider-wrapper__dots .dot {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: #000;
        cursor: pointer;
        margin-right: 8px; }
        .testimonials-page .slider-wrapper__dots .dot.active {
          background-color: #fff; }

.blog-page {
  width: 100vw;
  background-color: #151515; }
  .blog-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 85px 70px 100px 50px;
    display: flex; }
  .blog-page__navigation {
    width: 30%; }
    .blog-page__navigation__title {
      margin-bottom: 40px; }
      .blog-page__navigation__title:after {
        left: 0px;
        width: 90px; }
    .blog-page__navigation__menu {
      padding-left: 90px;
      line-height: 2.3;
      font-family: "MyriadProRegular";
      font-size: 18px; }
      .blog-page__navigation__menu_category {
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer; }
        .blog-page__navigation__menu_category:hover {
          color: #ffc600; }
  .blog-page__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blog-page__content__article {
      display: none;
      width: 30%; }
      .blog-page__content__article.active {
        display: block; }
      .blog-page__content__article_image img {
        width: 100%; }
      .blog-page__content__article_date {
        margin: 10px 0 30px;
        font-size: 18px;
        font-family: "MyriadProRegular";
        color: #ffc600; }
      .blog-page__content__article_title {
        margin-bottom: 15px;
        font-size: 15px;
        font-family: "MyriadProBold"; }
      .blog-page__content__article_description {
        font-size: 12px;
        font-family: "MyriadProIt"; }

.contact-page {
  width: 100vw;
  background-color: #151515; }
  .contact-page_map {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    width: 42%; }
    .contact-page_map iframe {
      width: 100%; }
  .contact-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: flex; }
  .contact-page__content {
    padding: 50px 0 20px 75px;
    background-color: #2046b3;
    color: #fff;
    width: 58%; }
    .contact-page__content_title:after {
      left: 0;
      width: 170px; }
    .contact-page__content__form form {
      width: 100%;
      max-width: 410px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-family: "MyriadProSemibold";
      font-size: 16px;
      margin-bottom: 60px; }
    .contact-page__content__form input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      background-color: #2046b3;
      border: 2px solid #c5c5c5;
      width: 48%;
      height: 35px;
      margin-bottom: 18px;
      padding-left: 15px;
      color: #fff; }
      .contact-page__content__form input::-webkit-input-placeholder {
        color: #fff; }
      .contact-page__content__form input::-moz-placeholder {
        color: #fff; }
      .contact-page__content__form input:-ms-input-placeholder {
        color: #fff; }
      .contact-page__content__form input::-ms-input-placeholder {
        color: #fff; }
      .contact-page__content__form input::placeholder {
        color: #fff; }
      .contact-page__content__form input:first-child {
        width: 100%; }
    .contact-page__content__form textarea {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      resize: none;
      background-color: #2046b3;
      border: 2px solid #c5c5c5;
      width: 100%;
      height: 75px;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-top: 10px;
      color: #fff; }
      .contact-page__content__form textarea::-webkit-input-placeholder {
        color: #fff; }
      .contact-page__content__form textarea::-moz-placeholder {
        color: #fff; }
      .contact-page__content__form textarea:-ms-input-placeholder {
        color: #fff; }
      .contact-page__content__form textarea::-ms-input-placeholder {
        color: #fff; }
      .contact-page__content__form textarea::placeholder {
        color: #fff; }
    .contact-page__content__form button {
      width: 110px;
      height: 35px;
      text-transform: uppercase;
      background-color: #ffc600;
      font-family: "MyriadProSemibold";
      font-size: 16px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
      .contact-page__content__form button:active {
        -webkit-box-shadow: inset 0 0 0 2px grey;
                box-shadow: inset 0 0 0 2px grey; }
    .contact-page__content__contacts {
      font-family: "MyriadProSemibold";
      font-size: 16px;
      max-width: 410px;
      padding-bottom: 70px;
      padding-left: 25px;
      margin-bottom: 10px;
      border-bottom: 2px solid #7386bc; }
      .contact-page__content__contacts_title {
        margin-bottom: 35px; }
      .contact-page__content__contacts_values {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        max-width: 270px;
        margin-bottom: 15px; }
        .contact-page__content__contacts_values div:first-child {
          width: 25%; }
        .contact-page__content__contacts_values div:last-child {
          font-family: "MyriadProRegular";
          font-size: 12px;
          width: 75%; }
    .contact-page__content__socials {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }

.fa {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #2046b3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .fa:hover {
    -webkit-box-shadow: 0px 0px 0px 2px #7386bc;
            box-shadow: 0px 0px 0px 2px #7386bc;
    color: #fff;
    background-color: #2046b3; }

.navigation_open {
  position: fixed;
  display: none;
  left: 40px;
  top: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .navigation_open:before, .navigation_open:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    height: 3px;
    width: 30px;
    background-color: #fff;
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-box-shadow: 2px 2px 5px #000;
            box-shadow: 2px 2px 5px #000; }
  .navigation_open:after {
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
    top: 20px; }

.navigation_mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8; }

.navigation {
  position: fixed;
  color: #fff;
  background-color: #000;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  opacity: 0.95;
  padding-top: 50px;
  padding-left: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  z-index: 50; }
  .navigation_close {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer; }
    .navigation_close:hover:after {
      -webkit-transform: rotate(-30deg);
          -ms-transform: rotate(-30deg);
              transform: rotate(-30deg);
      top: 8px; }
    .navigation_close:hover:before {
      -webkit-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
              transform: rotate(30deg);
      top: 27px; }
    .navigation_close:after, .navigation_close:before {
      content: '';
      position: absolute;
      top: 18px;
      height: 3px;
      width: 40px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      background-color: #fff;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
    .navigation_close:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .navigation_title {
    font-family: "MyriadProBold";
    font-size: 60px;
    letter-spacing: -3px;
    margin-bottom: 50px; }
    .navigation_title span {
      font-size: 60px;
      color: #ffc600; }
  .navigation_socials {
    padding-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .navigation_socials .fa {
      color: #000; }
  .navigation__menu {
    padding-bottom: 50px;
    border-bottom: 2px solid #ffc600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 35%; }
    .navigation__menu_link {
      font-family: "MyriadProSemibold";
      font-size: 16px;
      text-transform: uppercase;
      line-height: 2.5;
      cursor: pointer;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .navigation__menu_link:hover {
        color: #ffc600; }

@media (max-width: 1281px) {
  .home-page {
    padding: 30px 20px 20px; }
    .home-page__wrapper {
      height: -webkit-calc(100vh - 30px);
      height: calc(100vh - 30px); }
    .home-page__header {
      padding-bottom: 30px; }
    .home-page__header_title {
      font-size: 150px; }
  .about-page {
    padding: 0 20px; }
    .about-page__description_arcticle {
      padding-right: 20px; }
  .about-page__wrapper {
    max-height: inherit; }
  .works-page {
    padding: 0 20px; }
  .strategic-page {
    padding: 0 20px; }
  .services-page {
    padding: 0 20px; }
  .services-page__content {
    padding-left: 300px; }
  .team-page {
    padding: 0 20px; }
    .team-page__wrapper {
      padding-right: 20px; }
  .testimonials-page {
    padding: 0 20px; }
    .testimonials-page__wrapper {
      padding-right: 20px; }
  .testimonials-page .slider-wrapper__dots {
    margin-top: 20px; }
  .blog-page {
    padding: 0 20px; }
    .blog-page__navigation__menu {
      padding-left: 0; }
  .contact-page {
    padding: 0 20px; }
  .navigation {
    width: 40%; }
  .navigation_title {
    font-size: 40px;
    letter-spacing: 0; }
    .navigation_title span {
      font-size: 40px; }
  .navigation_open {
    left: 10px; } }

@media (max-width: 1025px) {
  .home-page__content_menu {
    max-width: 90%; }
    .home-page__content_menu a {
      font-size: 25px;
      text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; }
  .about-page__description_title {
    font-size: 60px; }
  .about-page__categories {
    padding: 30px 30px; }
  .strategic-page__wrapper {
    padding: 40px 10px; }
  .works-page .page-titles {
    padding-left: 10px; }
    .works-page .page-titles:after {
      left: 100px; }
  .strategic-page__content__block__description {
    padding: 10px 10px 0; }
    .strategic-page__content__block__description_title {
      margin-bottom: 5px; }
  .services-page__content {
    padding-left: 180px;
    padding-right: 100px; }
  .team-page__wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .team-page__title {
    width: 100%; }
  .team-page__content_title, .team-page__content_subtitle {
    width: 100%; }
  .contact-page__content {
    padding: 50px 20px 20px; } }

@media (max-width: 850px) {
  .about-page__description_title {
    padding-left: 20px;
    width: 47%;
    font-size: 48px; }
  .about-page__description_arcticle {
    width: 53%; }
    .about-page__description_arcticle:before {
      top: 20%; }
  .strategic-page__wrapper {
    padding-bottom: 10px; }
  .strategic-page__content__block {
    margin-bottom: 20px;
    border-bottom: 1px solid #cacaca; }
    .strategic-page__content__block_image {
      width: 30%; }
    .strategic-page__content__block__description {
      width: 70%;
      padding-top: 10px; }
      .strategic-page__content__block__description_title {
        font-size: 18px;
        margin-bottom: 5px; }
        .strategic-page__content__block__description_title span {
          font-size: 24px; }
      .strategic-page__content__block__description_subtitle {
        margin-bottom: 5px; }
  .services-page__content {
    padding-left: 80px;
    padding-right: 20px; }
  .testimonials-page__wrapper {
    padding-bottom: 30px; }
  .testimonials-page__content__articles {
    padding-top: 10px; }
  .testimonials-page .slider-wrapper__dots {
    margin-top: 30px; }
  .blog-page__wrapper {
    padding-right: 20px; } }

@media (max-width: 700px) {
  .home-page__header_title {
    font-size: 100px;
    letter-spacing: -5px; }
  .home-page__content {
    height: 50%; }
    .home-page__content_title {
      font-size: 45px; }
  .about-page__categories_type {
    width: 30%; }
  .decription {
    text-align: justify; }
  .services-page__content {
    padding-left: 0; }
    .services-page__content__category {
      max-width: 200px; }
  .blog-page__wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog-page__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    width: 67%; }
    .blog-page__content__article {
      width: 48%; }
  .blog-page__navigation {
    width: 200px; }
  .contact-page_map {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%; }
  .contact-page__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contact-page__content {
    width: 100%;
    padding-top: 20px; }
    .contact-page__content__form form {
      max-width: 100%;
      margin-bottom: 20px; }
    .contact-page__content__contacts {
      padding-left: 0;
      padding-bottom: 10px;
      max-width: 100%;
      font-size: 20px; }
      .contact-page__content__contacts_values {
        max-width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .contact-page__content__contacts_values div:first-child {
          max-width: 25%; }
        .contact-page__content__contacts_values div:last-child {
          font-size: 18px;
          max-width: 65%; }
  .navigation {
    width: 50%; } }

@media (max-width: 550px) {
  .home-page__content_menu a {
    font-size: 20px; }
  .about-page__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-page__description_title {
      width: 100%;
      padding-top: 30px;
      font-size: 60px; }
    .about-page__description_arcticle {
      width: 100%; }
  .about-page__categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about-page__categories_type {
      width: 100%;
      max-width: inherit;
      margin-bottom: 20px; }
      .about-page__categories_type .decription {
        font-size: 16px; }
  .works-page__works_work {
    max-width: 49%; }
  .strategic-page__content__block {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .strategic-page__content__block_image {
      width: 100%; }
    .strategic-page__content__block__description {
      width: 100%;
      padding-bottom: 20px; }
  .strategic-page__content__block:nth-child(2) div:first-child {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0; }
  .services-page__wrapper {
    padding-bottom: 10px;
    padding-left: 10px; }
  .services-page__content__category {
    max-width: 100%;
    margin-bottom: 40px; }
  .team-page__wrapper {
    padding: 20px 10px; }
  .testimonials-page__wrapper {
    padding: 20px 10px; }
  .testimonials-page__content__articles {
    padding-left: 10px;
    padding-right: 10px; }
  .blog-page__wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 20px 10px; }
  .blog-page__navigation {
    width: 100%; }
    .blog-page__navigation__menu {
      padding-left: 20px;
      line-height: 1.5;
      font-size: 24px;
      padding-bottom: 25px; }
  .blog-page__content {
    width: 100%; }
    .blog-page__content__article {
      width: 100%;
      margin-bottom: 30px;
      border-bottom: 2px solid #cacaca; }
  .navigation {
    padding-right: 10px;
    width: 100%;
    opacity: 1;
    background: url("../img/game-dev_navigation-bg2.jpg") 50%/cover no-repeat; }
    .navigation__menu {
      width: 100%; } }

@media (max-width: 450px) {
  .home-page__header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .home-page__header_title {
      font-size: 70px; }
  .home-page__content {
    padding: 20px; }
    .home-page__content_menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      height: 70%; }
      .home-page__content_menu a {
        font-size: 30px; }
    .home-page__content_title {
      font-size: 30px;
      letter-spacing: 0;
      margin-bottom: 20px; }
  .about-page__description_title {
    font-size: 40px; }
  .page-titles {
    padding-left: 10px; }
    .page-titles:after {
      left: 112px; }
  .works-page__filter-menu {
    padding-left: 10px;
    padding-right: 5px; }
  .team-page__content__team {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .team-page__content__team__person {
      width: 49%; }
  .blog-page__navigation__title:after {
    left: 10px; } }

@media (max-width: 350px) {
  .home-page__header_title {
    font-size: 50px;
    letter-spacing: 0; }
  .works-page__title.page-titles:after {
    left: 0;
    width: 100%; }
  .page-titles {
    font-size: 24px; }
    .page-titles span:first-child, .page-titles span:last-child {
      font-size: 36px; }
    .page-titles:after {
      left: 0;
      width: 100%; }
  .works-page__filter-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    line-height: 2.5;
    font-size: 18px; }
  .works-page__works_work {
    max-width: 100%; }
  .team-page__content__team__person {
    width: 98%; }
  .testimonials-page__content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .testimonials-page__content__articles {
      max-width: 100%;
      margin-bottom: 10px; } }

@media (max-height: 900px) and (orientation: landscape) {
  .home-page__header {
    height: 45%;
    padding-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .home-page__header_title {
      font-size: 150px; } }

@media (max-height: 700px) and (orientation: landscape) {
  .home-page__header {
    padding-top: 0px; }
    .home-page__header_title {
      font-size: 150px; }
  .navigation_title {
    margin-bottom: 20px; }
  .navigation__menu {
    padding-bottom: 20px; } }

@media (max-height: 550px) and (orientation: landscape) {
  .home-page__header {
    padding-bottom: 0; }
  .home-page__header_title {
    font-size: 100px; }
  .home-page__header_subtitle {
    font-size: 16px;
    margin-bottom: 5px; }
  .home-page__content {
    padding: 20px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .home-page__content_title {
      margin-bottom: 0; }
    .home-page__content_menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 30%;
      height: 90%;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .home-page__content_menu a {
        font-size: 25px;
        text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; }
        .home-page__content_menu a:after {
          display: none; }
  .navigation_close {
    top: 15px; }
  .navigation {
    padding-top: 15px; }
    .navigation__menu_link {
      line-height: 1.8; } }

@media (max-height: 400px) and (orientation: landscape) {
  .home-page__content_title {
    font-size: 40px; }
  .home-page__header_title {
    font-size: 80px;
    letter-spacing: -3px; }
  .home-page__header_subtitle {
    font-size: 14px; }
  .navigation {
    width: 100%; }
  .navigation_title {
    margin-bottom: 5px; }
  .navigation__menu {
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 5px; }
    .navigation__menu_link {
      width: 40%;
      line-height: 1.6; } }
