@import "fonts.scss";
@import "../css/reset";

$bold: 'MyriadProBold';
$regular:'MyriadProRegular';
$italic:'MyriadProIt';
$semibold:'MyriadProSemibold';


// ============================================Home Page ============================================

.home-page {
	width: 100vw;
	height: 100vh;
	background: url("../img/main-page_bg.jpg") center/cover no-repeat;
	&__wrapper {
		max-width: 1200px;
		height: 100vh;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	&__header {
		display: flex;
		padding-bottom: 60px;
		width: 100%;
		height: 40%;
		flex-direction: column;
		justify-content: flex-end;
		&_title {
			font-family: $bold;
			color: #fff;
			letter-spacing: -10px;
			font-size: 202.14px;
			& span {
				color: #ffc600;
			}
		}
		&_subtitle {
			font-size: 18px;
			font-family: $regular;
			color: #fff;
			max-width: 390px;
			line-height: 1.2;
			margin-bottom: 25px;
			& span {
				color: #ffc600;
			}
		}
		&_download {
			color: #ffc600;
			font-size: 18px;
			font-family: $regular;
			&:after {
				content: '\25bc';
				margin-left: 5px;
				font-size: 20px;
				opacity: 0;
			}
			&:hover:after {
				animation: download_arrow ease-in-out 1s infinite alternate;
			}
		}
	}

	@keyframes download_arrow {
		50% {
			opacity: 1;
		}
		
	} 

	&__content {
		width: 100%;
		height: 60%;
		padding-top: 70px;
		padding-left: 40px;
		background: url("../img/main-page_bg2.jpg") center 0%/cover no-repeat;
		&_title {
			font-size: 60px;
			letter-spacing: -3px;
			font-family: $bold;
			color: #fff;
			& span {
				color: #ffc600;
			}
			margin-bottom: 60px;
		}
		&_menu {
			font-size: 18px;
			font-family: $regular;
			max-width: 360px;
			display: flex;
			justify-content: space-between;
			& a {
				color: #ffc600;
				transition: 0.5s;
				position: relative;
				&:hover {
					color: #fff;
					&:after {
						transform: scaleX(1);
					}
				}
				&:after {
					content: '';
					transform: scaleX(0);
					width: 100%;
					height: 1px;
					background-color: #ffc600;;
					position: absolute;
					bottom: -10px;
					left: 0;
					transition: 0.5s;
				}
			}
		}
	}
}

// ================================================About Page=========================================
.about-page {
	width: 100vw;
	background-color: #151515;
	&__wrapper {
		max-width: 1200px;
		max-height: 520px;
		margin: 0 auto;
		background-color: #fff;
	}
	&__description {
		min-height: 200px;
		display: flex;
		&_title {
			width: 50%;
			font-size: 80px;
			padding: 70px 0 0 135px;
			font-family: $semibold;
				& div:first-child {
					color: #717171;
					font-size: 24px;
					height: 45px;
					& span {
						font-size: 60px;
					}
				}
				& div:last-child {
					& span {
						color: #ffc600;
					}
				}
			}

		&_arcticle {
			width: 50%;
			padding: 35px 0 0 20px;
			position: relative;
			font-size: 14px;
			color: #595959;
			line-height: 1.2;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 10%;
				width: 1px;
				height: 80%;
				background-color: #c5c5c5;
			}
			& p:first-child {
				font-family: $italic;
				font-size: 16px;
				color: #000;
				margin-bottom: 25px;

			}
		}
	}
	&__categories {
		padding: 60px 165px 0px 150px;
		display: flex;
		justify-content: space-between;
		&_type {
			max-width: 240px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 58px;
			.logo {
				width: 58px;
				height: 58px;
				border-radius: 50%;
				border: 2px solid #ffa800;
				background: #e8e8e8 url("../img/about_gamepad.png") center center no-repeat;
				margin-bottom: 24px;
				transition: 0.5s;
				&:hover {
					animation: shake 0.3s linear infinite;
				}
			}
			@keyframes shake {
				25% {
					transform: rotate(45deg);
				}
				75% {
					transform: rotate(-45deg);
				}
				100% {
					transform: rotate(0deg);
				}
			}
			.title {
				font-size: 18px;
				font-family: $regular;
				margin-bottom: 24px;
			}
			.decription {
				font-family: $italic;
				font-size: 10px;
				color: #242424;
				text-align: center;
			}
		}
	}
}

// ================================================Works-page=========================================

.works-page {
	width: 100vw;
	background-color: #151515;
	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
		background-color: #fff;
		padding-top: 50px;
	}
	&__title {
		font-family: $semibold;
		font-size: 30px;
		padding-left: 78px;
		position: relative;
		margin-bottom: 20px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 190px;
			height: 1px;
			width: 140px;
			background-color: #c5c5c5;
		}
		& span:first-child {
			color: #ffc600;
			font-size: 50px;
		}
		& span:last-child {
			font-size: 50px;
		}
	}
	&__filter-menu {
		max-width: 378px;
		display: flex;
		justify-content: space-between;
		padding-left: 78px;
		font-family: $semibold;
		text-transform: uppercase;
		font-size: 10px;
		cursor: pointer;
		margin-bottom: 25px;
		& div {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -5px;
				left: 0;
				height: 2px;
				width: 100%;
				background-color: #ffc600;
				transform: scaleX(0);
				transition: 0.5s;
			}
			&:hover:after {
				transform: scaleX(0.6);
			}
		}
	}
	&__works {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		&_work {
			max-width: 24.8%;
			transition: 1s;
			& img {
				width: 100%;
				margin-bottom: 2px;
			}
			&:hover {
				transform: translate(-2px, -2px);
				box-shadow: 5px 5px 20px #cacaca;
			}
		}
	}
}
.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup-window {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	background: #fff;
	border: 1px solid #000;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;
}
.popup-close:after {
	content: '\274C';
	position: absolute;
	font-size: 16px;
	color: #000;
	top: 10px;
	right: 10px;
	cursor: pointer;
	text-shadow: 1px 0px 13px rgba(255, 255, 255, 1);
}

.all {
}
.games {
}
.apps {
}
.content {
}


// ================================================Media Queries======================================

@media (max-width: 1281px) {
	.home-page {
		padding: 30px 20px 20px;
		&__wrapper {
			height: calc(100vh - 30px);
		}
		&__header {
			padding-bottom: 30px;
		}
		&__header_title {
			font-size: 150px;
		}
	}
	.about-page {
		padding: 0 20px;
		&__description_arcticle {
			padding-right: 20px;
		}
	}
	.about-page__wrapper {
		max-height: inherit;
	}
	.works-page {
		padding: 0 20px;
	}
}

@media (max-width: 1025px) {
	.home-page__content_menu {
		max-width: 90%;
			& a {
			font-size: 25px;
			text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
		}
	}
	.about-page__description_title {
		font-size: 60px;
	}
	.about-page__categories {
		padding: 30px 30px;
	}
}

@media (max-width: 850px) {
	.about-page__description_title {
		padding-left: 20px;
		width: 47%;
		font-size: 48px;
	}
	.about-page__description_arcticle {
		width: 53%;
		&:before {
			top: 20%;
		}
	}
}

@media (max-width: 700px) {
	.home-page {
		&__header_title {
			font-size: 100px;
			letter-spacing: -5px;
		}
		&__content {
			height: 50%;
			&_title {
				font-size: 45px;
			}
			&_menu a {
				
			}
		}
	}
	.about-page__categories_type {
		width: 30%;
	}
	.decription {
		text-align: justify;
	}
}

@media (max-width: 550px){
	.home-page__content_menu {
			& a {
			font-size: 20px;
		}
	}
	.about-page__description {
		flex-direction: column;
		&_title {
			width: 100%;
			padding-top: 30px;
			font-size: 60px;
		}
		&_arcticle {
			width: 100%;
		}
	}
	.about-page__categories {
		flex-direction: column;
			&_type {
			width: 100%;
			max-width: inherit;
			margin-bottom: 20px;
			& .decription {
				font-size: 16px;
			}
		}
	}
	.works-page__works_work {
		max-width: 49%;
	}
}

@media (max-width: 450px){
	.home-page__header {
		justify-content: flex-start;
		&_title {
			font-size: 70px;
		}
	}

	.home-page__content {
		padding: 20px;

		&_menu {
		flex-direction: column;
		align-items: flex-start;
		height: 70%;
			& a {
			font-size: 30px;
			}
		}

		&_title {
			font-size: 30px;
			letter-spacing: 0;
			margin-bottom: 20px;
		}
	}
	.about-page__description_title {
			font-size: 40px;
	}
	.works-page__title {
		padding-left: 10px;
		&:after {
			left: 112px;
		}
	}
	.works-page__filter-menu {
		padding-left: 10px;
		padding-right: 5px;
	}
}

@media (max-width: 350px) {
	.works-page__title {
		font-size: 24px;
		& span:first-child, span:last-child {
			font-size: 36px;
		}
		&:after {
			left: 0;
			width: 100%;
		}
	}
	.works-page__filter-menu {
		flex-direction: column;
		align-items: flex-start;
		line-height: 2.5;
		font-size: 18px;
	}
	.works-page__works_work {
		max-width: 100%;
	}
}

@media (max-height: 900px) and (orientation: landscape) {
	.home-page__header {
		height: 45%;
		padding-top: 50px;
		justify-content: center;
		&_title {
		font-size: 150px;
		}
	}
} 
@media (max-height: 700px) and (orientation: landscape) {
		.home-page__header {
			padding-top: 0px;
		&_title {
		font-size: 150px;
		}
	}
}
@media (max-height: 550px) and (orientation: landscape) {
	.home-page__header {
		padding-bottom: 0;
	}
	.home-page__header_title {
		font-size: 100px;
	}
	.home-page__header_subtitle {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.home-page__content {
		padding: 20px 0 0;
		display: flex;
		justify-content: space-between;
		&_title {
			margin-bottom: 0;
		}
		&_menu {
			display: flex;
			flex-direction: column;
			width: 30%;
			height: 90%;
			& a {
				font-size: 25px;
				text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
			}
		}
	}
}
@media (max-height: 400px) and (orientation: landscape) {
.home-page__content_title {
	font-size: 40px;
	}
.home-page__header_title {
	font-size: 80px;
	letter-spacing: -3px;
}
.home-page__header_subtitle {
	font-size: 14px;
}
}
